{% extends "base.html" %}
{% load static %}
{% load extratags %}
{% block content %}
<div class="breadcrumb-holder">
        <div class="container-fluid">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'app_proposals_list' %}">Proposals</a></li>
            <li class="breadcrumb-item active">{{ object.pid }}</li>
          </ul>
        </div>
      </div>
<section>
        <div class="container-fluid">
          <!-- Page Header-->
          <header> 
            <h1 class="h3 display">Details of proposal {{ object.pid }}</h1>
          </header>
<table class="table table-hover">
<tr><td>Proposal name</td><td><b>{{ object.name }}</b></td></tr>
<tr><td>Created</td><td>{{ object.created }}</td></tr>
<tr><td>Last updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>Status</td><td><b>{{ object.get_last_status_display }}</b></td></tr>
<tr><td>Abstract</td><td>{{ object.abstract }}</td></tr>
<tr><td>Scientific background</td><td>{% if object.scientific_bg %}<a href="{{ object.scientific_bg.url }}" target="_blank">{{ object.scientific_bg.name }}</a>{% else %}<b class="text-danger">missing</b>{% endif %}</td></tr>
<tr><td>Proposer</td><td><b>{{ object.proposer.contact }}</b><br />{{ object.proposer.contact.affiliation }}</td></tr>
<tr><td>Student</td><td>{% if object.student %}Yes, supervisor {{object.supervisor}}{% else %}No{% endif %}</td></tr>
<tr><td>Local Contact</td><td>{{ object.local_contact }}</td></tr>
{% if object.reporter and perms.app.approve_panel %}<tr><td>Reporter</td><td>{{ object.reporter }}</td></tr>{% endif %}
<tr><td>Experimental team</td><td>{% for p in object.coproposers.all %}{{ p.name }}{%if not forloop.last%}, {%endif%}{% endfor %}</td></tr>
</table>
<p>
    {% if object.last_status == "P" %}
        Proposal is in preparation.
        {% if object.proposer == user %}
            You can still edit it as you want. It will not be reviewed, until you click <b>Submit Proposal</b>.
        {% else %}
            Proposer need to submit it in order to be reviewed.
        {% endif %}
        
    {% elif object.last_status == "S" %}
        Proposal is submitted, wait for evaluation.
    {% elif object.last_status in "U,T,W,R,D" %}
        Proposal is in review process, wait for evaluation.
    {% elif object.last_status == "A" %}
        Proposal is accepted, you can measure!
    {% elif object.last_status == "F" %}
        Proposal is finished, time to publish your research!
    {% elif object.last_status == "X" %}
        Proposal is rejected, sorry.
    {% endif %}
</p>
            <a class="btn btn-info" target="_blank" href="/proposal_pdf/{{object.pid}}/">PDF</a> 
    {% if perms.app.approve_director and object.last_status == "D" %}
            <a class="btn btn-primary" href="/proposals/changestatus/{{object.slug}}/A/">Approve Proposal</a>
            <a class="btn btn-danger" href="/proposals/changestatus/{{object.slug}}/X/">Reject Proposal</a>
    {% endif %}
    {% if perms.app.change_status and object.last_status == "S" %}
            <a class="btn btn-primary" href="/proposals/changestatus/{{object.slug}}/U/">Takeover Proposal</a>
    {% endif %}
    {% if perms.app.change_status and object.last_status == "U" %}
            <a class="btn btn-primary" href="/proposals/changestatus/{{object.slug}}/T/">Pass to local contact</a>
            <a class="btn btn-danger" href="/proposals/changestatus/{{object.slug}}/P/">Return to user</a>
    {% endif %}
    {% if perms.app.approve_technical and object.last_status == "T" and object.local_contact.uid == user %}
            <a class="btn btn-primary" href="/proposals/changestatus/{{object.slug}}/W/">Submit technical comments</a>
            <a class="btn btn-secondary" href="{{object.get_update_url}}">Change local contact</a> 
    {% endif %}
    {% if perms.app.takeover_panel and object.last_status == "W" %}
            <a class="btn btn-primary" href="/proposals/changestatus/{{object.slug}}/R/">Assign reporter</a>
    {% endif %}
    {% if perms.app.takeover_panel and object.last_status == "R" or perms.app.approve_panel and object.reporter.uid == user and object.last_status == "R" %}
            <a class="btn btn-primary" href="/proposals/changestatus/{{object.slug}}/D/">Submit panel report</a>
            <a class="btn btn-secondary" href="/proposals/changestatus/{{object.slug}}/P/">Return proposal to user</a>
            <a class="btn btn-danger" href="/proposals/changestatus/{{object.slug}}/X/">Reject proposal</a>
    {% endif %}
    {% if object.proposer == user and object.last_status == "P" %}
       <a class="btn btn-secondary" href="{{object.get_update_url}}">Edit Proposal</a> 
       {% if object.last_status == "P" %}<a class="btn btn-primary" href="/proposals/changestatus/{{object.slug}}/S/">Submit Proposal</a>
       <a class="btn btn-danger" href="/proposals/delete/{{object.slug}}/">Delete Proposal</a> {% endif %}
    {% endif %}
    {% if perms.app.change_status and object.last_status in "P,S,U" %}
       <a class="btn btn-secondary" href="{{object.get_update_url}}">Edit proposal type and/or local contact</a> 
    {% endif %}
    {% if object.proposer == user and object.last_status == "A" %}
       <a class="btn btn-secondary" href="{{object.get_update_url}}">Edit experimental team</a> 
    {% endif %}
    
        <header> 
            <h2 class="h3 display">Status history</h2>
        </header>
        <div class="table-responsive">
        <table class="table table-striped table-sm table-hover">
            <tr>
                    <th>Status</th>
                    <th>Remark</th>
                </tr>
        {% for s in status_history %}
            <tr>
                <td>{{ s.date|date:"SHORT_DATETIME_FORMAT" }}<br />
                    <b>{{ s.status|get_status_action }}</b>
                {% if perms.app.see_hidden_remarks %}<br />
                    <i>{{ s.user.contact.name }}</i>{% endif %}
                </td>
                <td>{{ s.remark }}
                {% if perms.app.see_hidden_remarks %}
                <br /><i>{{ s.hiddenremark }}</i>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
            </table>
            </div>
            </div>
    </section>
{% endblock %}
