{% extends "form.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'app_proposals_list' %}">Proposals</a></li>
    <li class="breadcrumb-item active">New</li>
{% endblock %}
{% block formcontent %}
<header> 
<h1 class="h3 display">
    {% if object %}
        Edit proposal {{ object.pid }}
    {% else %}
        Create a new proposal
    {% endif %}
</h1>
</header>
<p>Please fill in all fields below. Scientific background should be PDF with maximum size of 2 pages (and 50 MB), we recommend to use <a href="/static/files/mgml_proposal_template.doc">this template</a>.</p>
<div class="card">
    <div class="card-body">  
        {% crispy form %}
        {{ form_errors }}
        <p>Note: Proposal will not be automatically submitted if you click save. You can continue to work  on it later.</p>
    </div>
</div>
{% endblock %}
{% block scripts %}
    {{ form.media }}
    <script>
    function toggleDivs() {
        $("#div_id_supervisor").toggle(500);
        $("#div_id_thesis_topic").toggle(500);
        }
    $(document).ready(function () {
        if (!$("#id_student").is(":checked"))
        {
            $("#div_id_supervisor").hide(0);
            $("#div_id_thesis_topic").hide(0);
        }
        });

    </script>
{% endblock %}