{% extends "form.html" %}
{% load static %}
{% load django_tables2 %}
{% load bootstrap4 %}
{% block breadcrumbs %}
    <li class="breadcrumb-item active">Proposals</li>
{% endblock %}
{% block formcontent %}
    <header> 
    <h1 class="h3 display">
        {% if filtering == "mine" %}List of my proposals
        {% else %}List of all proposals
        {% endif %}</h1>
    </header>

    {% if filter %}
    <div class="mb-3">
        <form action="" method="get" class="form form-inline">
            {% bootstrap_form filter.form layout='inline' %}
            {% bootstrap_button 'filter' %}
        </form>
    </div>
    {% endif %}


    {% render_table table %}
    <a class="btn btn-primary" href="{% url 'app_proposals_create' %}">Create new Proposal</a>
{% endblock %}