{% extends "form.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'app_proposals_list' %}">Proposals</a></li>
    <li class="breadcrumb-item"><a href="/proposals/detail/{{ proposal.slug }}/">{{ proposal.pid }}</a></li>
    <li class="breadcrumb-item active">Change status</li>
{% endblock %}
{% block formcontent %}
<header> 
<h1 class="h3 display">Change status of proposal {{ proposal.pid }}: {{ proposal.name }}</h1>
</header>
<div class="card">
    <div class="card-body">  

        <form method="post">
        {% csrf_token %}
        {{ form.status|as_crispy_field }}
        {% if form.remark %}
        <div class="form-row">
          {% if form.hiddenremark %}
          <div class="form-group col-md-6 mb-0">
              {{ form.hiddenremark|as_crispy_field }}
          </div>
          <div class="form-group col-md-6 mb-0">
              {{ form.remark|as_crispy_field }}
          </div>
          {% else %}
              {{ form.remark|as_crispy_field }}
          {% endif %}
        </div>
        {% endif %}        
        {% if form.reporter %}
            {{ form.reporter|as_crispy_field }}
        {% endif %}  
        <p>{{ form.info }}</p>
        <button type="submit" class="btn btn-primary">{{ form.ConfirmText }}</button>
        <a href="/proposals/detail/{{ proposal.slug }}/" class="btn btn-danger">Cancel</a>
      </form>
    </div>
</div>
{% endblock %}