{% load extratags %}[
{% for object in events %}
    {
        "title": "{% if object.shared_option %}{{object.shared_option}} at {{object.instrument}} ({{object.proposal.pid}}){% else %}{{object.proposal.pid}}: {{object.responsible}}{% endif %}", 
        "description": "{% if request.user|in_team:object.proposal %}{{object.proposal.name}} ({{object.proposal.proposer.contact}})<br /><i>{{object.description}}</i><br />{% endif %}LC: {{object.local_contact}}<br />{{object.local_contact.nice_phone|safe}}",
        "url": "{{object.get_absolute_url}}",
        "allDay": true,
        "start": "{{ object.start|date:"c" }}",
        "end": "{% if not object.instrument.book_by_hour %}{{ object.end|next_day|date:"c" }}{% else %}{{ object.end|date:"c" }}}{% endif %}"
    }{% if not forloop.last %},{% endif %}{% endfor %}
]