{% extends "form.html" %}
{% load extratags %}
{% load static %}
{% block breadcrumbs %}
    <li class="breadcrumb-item">Booking</li>
    <li class="breadcrumb-item">Shared resources</li>
    <li class="breadcrumb-item active">{{ object.instrument }} ({{ object.real_start|date:"SHORT_DATETIME_FORMAT" }} - {{ object.real_end|date:"SHORT_DATETIME_FORMAT" }})</li>
{% endblock %}
{% block formcontent %}

{% with showDetails=request.user|in_team:object.proposal %}   
<table class="table">
<tr><td>Asociated experiment slot:</td><td>{% if showDetails or request.user.contact == object.local_contact %}<a href="{% url 'app_experiments_detail' pk=object.experiment.pk  %}">{{ object.experiment }}</a>{% else %}hidden (you are not part of the team){% endif %}</td></tr>
<tr><td>Proposal:</td><td>{% if showDetails or request.user.contact == object.local_contact %}<a href="{% url 'app_proposals_detail' slug=object.proposal.slug  %}">{{ object.proposal }}</a>{% else %}hidden (you are not part of the team){% endif %}</td></tr>
<tr><td>User (sample and experiment responsible):</td><td>{{ object.responsible }}</td></tr>
<tr><td>Local Contact:</td><td><a href="mailto:{{ object.local_contact.email }}">{{ object.local_contact }}</a> {{ object.local_contact.nice_phone | safe }}</td></tr>
<tr><td>Booked at:</td><td>{{ object.created }}</td></tr>
<tr><td>Date:</td><td>{{ object.real_start }} - {{ object.real_end }}</td></tr>
<tr><td>Duration:</td><td>{{ object.duration }}</td></tr>
<tr><td>Instrument:</td><td>{{ object.instrument }}</td></tr>
</table>
{% endwith %}
<p><a class="btn btn-default" href="{% url 'app_experiments_calendar' %}">Back to calendar</a> 
  {% if request.user.contact == object.responsible or request.user.contact == object.local_contact or request.user|has_group:"admins" %}
   <a class="btn btn-danger" href="#">Cancel Experiment Slot</a>
  {% endif %}
</p>

{% endblock %}