{% load static %}
{% load extratags %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        {% include "pdf/pdffonts.css" %}
    </style>
    <link rel='stylesheet' href='{% static "pdfstyle.css" %}'/>
</head>
<body>
    {% if not page or page == 1 %}
    <h1>MGML Proposal: {{ proposal.pid }}</h1>
    <h2>{{ proposal.name }}</h2>
    <table>
        <tr><th scope="row">Proposer:</th><td><span>{{ proposal.proposer.contact.name }}</span></td></tr>
        <tr><th scope="row">Affiliation:</th><td>{{ proposal.proposer.contact.affiliation }}</td></tr>
        <tr><th class="row" colspan="2">Experimental team:</th></tr>
        <tr><td class="row" colspan="2">{% for p in proposal.coproposers.all %}{{ p.name }}{%if not forloop.last%}, {%endif%}{% endfor %}</td></tr>
        <tr><th scope="row">Local contact:</th><td>{{ proposal.local_contact }}</td></tr>
        <tr><th scope="row">Proposal type:</th><td>{{ proposal.get_proposaltype_display }}</td></tr>
    </table>
    <h3>Abstract</h3>
    <p>{{ proposal.abstract|linebreaks  }}</p>
    {% if perms.app.see_hidden_remarks and tech %}
    <h3>Latest Technical review</h3>
    <p>{{ tech.hiddenremark|linebreaks  }}</p>
    {% endif %}
    {% endif %}
    {% if not page %}<pdf:nextpage  />{% endif %}
    {% if not page or page == 2 %}
    <h1>Status history of {{ proposal.pid }}</h1>
            <table class="status">
                <tr>
                    <th>Status</th>
                    <th>Remark</th>
                </tr>
        {% for s in status_history %}
            <tr>
                <td>{{ s.date|date:"SHORT_DATETIME_FORMAT" }}<br />
                    <span>{{ s.status|get_status_action }}</span>
                {% if perms.app.see_hidden_remarks %}<br />
                    <i>{{ s.user.contact.name }}</i>{% endif %}
                </td>
                <td class="max">{{ s.remark }}
                {% if perms.app.see_hidden_remarks %}
                {% if s.remark %}<br />{% endif %}<i>{{ s.hiddenremark }}</i>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
            </table>
    {% endif %}
</body>
</html>