{% extends "form.html" %}
{% load static %}
{% load django_tables2 %}
{% load bootstrap4 %}
{% block breadcrumbs %}
    <li class="breadcrumb-item active">Contacts</li>
{% endblock %}
{% block formcontent %}
    <header> 
       <h1 class="h3 display">List of all contacts</h1>
    </header>
    {% if filter %}
    <div class="mb-3">
        <form action="" method="get" class="form form-inline">
            {% bootstrap_form filter.form layout='inline' %}
            {% bootstrap_button 'filter' %}
        </form>
    </div>
    {% endif %}
    {% render_table table %}
{% endblock %}