{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'app_instrumentrequest_list' %}">InstrumentRequest Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>requested</td>
    <td>granted</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.requested }}</td>
    <td>{{ object.granted }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'app_instrumentrequest_create' %}">Create new InstrumentRequest</a>
{% endblock %}