{% extends "form.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'app_proposals_list' %}">Proposals</a></li>
    <li class="breadcrumb-item active">New</li>
{% endblock %}
{% block formcontent %}
<header> 
<h1 class="h3 display">Create a new proposal:</h1>
</header>
<div class="card">
    <div class="card-body">  
        {% crispy form %}
        {{ form_errors }}
        <p>Note: Proposal will not be automatically submitted if you click save. You can continue to work  on it later.</p>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script>
    function toggleDiv(divId) {
        $("#"+divId).toggle(500);
        }
    $(document).ready(function () {
        if (!$("#id_student").checked)
        {
            $("#div_id_supervisor").hide(0);
        }
        });

    </script>
{% endblock %}