{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'app_samples_list' %}">Samples Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>name</td>
    <td>created</td>
    <td>last_updated</td>
    <td>formula</td>
    <td>mass</td>
    <td>volume</td>
    <td>description</td>
    <td>type</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.name }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
    <td>{{ object.formula }}</td>
    <td>{{ object.mass }}</td>
    <td>{{ object.volume }}</td>
    <td>{{ object.description }}</td>
    <td>{{ object.type }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'app_samples_create' %}">Create new Samples</a>
{% endblock %}