<!DOCTYPE html>
{% load bootstrap4 %}
{% load extratags %}
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MGML Dashboard{% if title %} - {{ title }}{% endif %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    {% bootstrap_css %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/fontastic.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/grasp_mobile_progress_circle-1.0.0.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/jquery.mCustomScrollbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/select2-bootstrap4.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'app/content/style.default.css' %}" id="theme-stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/custom.css' %}">
    <link rel="shortcut icon" href="{% static 'app/favicon.png' %}">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    </head>
    
    <body>
        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}
    <nav class="side-navbar">
      <div class="side-navbar-wrapper">
        <!-- Sidebar Header    -->
        <div class="sidenav-header d-flex align-items-center justify-content-center">
          <!-- User Info-->
          <div class="sidenav-header-inner text-center"><img src="/static/img/avatar.png" alt="person" class="img-fluid rounded-circle">
            {% if user.is_authenticated %}
              <h2 class="h5">{{ user.username }}</h2>
              {% if request.user|has_group:"director" %}<span>director</span>
              {% elif request.user|has_group:"panelhead" %}<span>panel head</span>
              {% elif request.user|has_group:"panel" %}<span>panel member</span>
              {% elif request.user|has_group:"board" %}<span>board member</span>
              {% elif request.user|has_group:"useroffice" %}<span>user office</span>
              {% elif request.user|has_group:"admins" %}<span>admin</span>
              {% elif request.user|has_group:"localcontacts" %}<span>local contact</span>
              {% elif request.user|has_group:"users" %}<span>user</span>{% endif %}
            {% else %}
              <p>You are not logged in</p>
              <a href="{% url 'login' %}">login</a>
            {% endif %}
          </div>
          <!-- Small Brand information, appears on minimized sidebar-->
          <div class="sidenav-header-logo"><a href="/" class="brand-small text-center"> <strong>M</strong><strong class="text-primary">D</strong></a></div>
        </div>
        <!-- Sidebar Navigation Menus-->
        <div class="main-menu">
          <h5 class="sidenav-heading">User menu</h5>
          <ul id="side-main-menu" class="side-menu list-unstyled">                  
            <li><a href="/"> <i class="icon-home"></i>Home                             </a></li>
              {% if perms.app.add_proposals %}
            <li><a href="/proposals/create/"> <i class="icon-form"></i>New Proposal</a></li>
            <li><a href="/proposals/"> <i class="icon-form"></i>My Proposals</a></li>{% endif %}
              {% if perms.app.view_proposals or perms.app.view_panel_proposals or perms.app.view_board_proposals or request.user|has_group:"localcontacts" %}
            <li><a href="/proposals/all/"> <i class="icon-form"></i>All Proposals</a></li>{% endif %}
          </ul>
          {% if request.user|has_group:"users" %}
          <h5 class="sidenav-heading">Booking</h5>
          <ul id="side-main-menu" class="side-menu list-unstyled">       
            {% if perms.app.add_proposals %}
            <li><a href="/experiments/calendar/"> <i class="icon-grid"></i>Calendar</a></li>
            <li><a href="/experiments/create/"> <i class="icon-grid"></i>Book a slot</a></li>
            <li><a href="/experiments/myslots/?end=future"> <i class="icon-grid"></i>My slots</a></li>{% endif %}
            {% if perms.app.view_proposals or request.user|has_group:"localcontacts" or request.user.contact.isAllowedLC %}
            <li><a href="/experiments/LC/?end=future&local_contact={{ user.contact.pk }}"> <i class="icon-grid"></i>LC overview</a></li>{% endif %}
          </ul>
          {% endif %}
          <h5 class="sidenav-heading">Settings</h5>
          <ul id="side-main-menu" class="side-menu list-unstyled">                  
            <li><a href="/profile"> <i class="icon-user"></i>My Profile</a></li>
            <li><a href="/notifications/settings/"> <i class="icon-user"></i>Notifications</a></li>
            {% if perms.app.add_contacts %}
            <li><a href="/contacts/create/"> <i class="icon-form"></i>Invite User</a></li>{% endif %}
            {% if perms.app.view_contacts %}
            <li><a href="/contacts/"> <i class="icon-form"></i>User list</a></li>{% endif %}
          </ul>
        </div>
        {% if request.user.is_staff %}
        <div class="admin-menu">
          <h5 class="sidenav-heading">Superuser menu</h5>
          <ul id="side-admin-menu" class="side-menu list-unstyled"> 
            <li> <a href="/admin/"> <i class="icon-screen"> </i>Django admin</a></li>
          </ul>
        </div>
        {% endif %}
        <div class="main-menu">
          <h5 class="sidenav-heading">Help</h5>
          <ul id="side-admin-menu" class="side-menu list-unstyled"> 
            <li><a href="/how-to/proposal"> <i class="icon-user"></i>How to write proposal?</a></li>
            <li><a href="https://github.com/me2d09/prius/issues"> <i class="icon-user"></i>Report problem</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="page">
      <!-- navbar-->
      <header class="header">
        <nav class="navbar">
          <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
              <div class="navbar-header"><a id="toggle-btn" href="#" class="menu-btn"><i class="icon-bars"> </i></a><a href="/" class="navbar-brand">
                  <div class="brand-text d-none d-md-inline-block"><span>MGML </span><strong class="text-primary">Dashboard</strong></div></a></div>
              <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                <!-- Log out-->
                <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link logout"> <span class="d-none d-sm-inline-block">Logout</span><i class="fa fa-sign-out"></i></a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      {% block content %}{% endblock %}
      <footer class="main-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <p>&copy; 2019 - MGML, <span title="Python Research Infrastructure User office System">PRIUS</span>, version: {% include "version.html" %}</p>
            </div>
            <div class="col-sm-6 text-right">
              <p>Design by <a href="https://bootstrapious.com" class="external">Bootstrapious</a>, App by <a href="https://cermak.science/">Petr Čermák</a>, Code hosted on <a href="https://github.com/me2d09/prius">GitHub</a>.</p>
            </div>
          </div>
        </div>
      </footer>
    </div>                   
    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>    
    <script src="{% static 'app/scripts/popper.min.js' %}"></script>
    {% bootstrap_javascript %}
    <script src="{% static 'app/scripts/grasp_mobile_progress_circle-1.0.0.min.js' %}"></script>
    <script src="{% static 'app/scripts/jquery.cookie.js' %}"></script>
    <script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
    <script src="{% static 'app/scripts/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'app/scripts/front.js' %}"></script>
    {% block scripts %}{% endblock %}
    </body>
</html>