{% load crispy_forms_field %}

<div id="div_id_{{ field1.id_for_label }}" class="form-group row"> 
    <label for="{{ field1.id_for_label }}" class="col-form-label col-sm-2 {% if field1.field.required %} requiredField{% endif %}">
                {{ legend|safe }}{% if field1.field.required %}<span class="asteriskField">*</span>{% endif %}
    </label>
    <div class="col-sm-10">
        <div class="input-daterange input-group" id="datepicker">
            {% crispy_field field1 'autocomplete' 'off' %}
            <div class="input-group-prepend input-group-append">
                <span class="input-group-text">tol</span>
            </div>
            {% crispy_field field2 'autocomplete' 'off' %}
            {% for error in field1.errors %}
                    <p id="error_{{ forloop.counter }}_{{ field2.auto_id }}" class="invalid-feedback"><strong>{{ error }}</strong></p>
            {% endfor %}{% for error in field2.errors %}
                    <p id="error_{{ forloop.counter }}_{{ field2.auto_id }}" class="invalid-feedback"><strong>{{ error }}</strong></p>
            {% endfor %}            
        </div>
        <small id="total_days_{{ field1.id_for_label }}" class="form-text text-muted">0 days</small>
    </div> 
</div>




